{% load static %} {% for employee in employees %}
<tr>
  <th scope="row">{{ employee.rut }}</th>
  <td>{{ employee.name }}</td>
  <td>{{ employee.last_name }}</td>
  <td>{{ employee.id_genre }}</td>
  <td>{{ employee.birth_date }}</td>
  <td>{{ employee.phone }}</td>
  <td>{{ employee.email }}</td>
  <td>{{ employee.company_name }}</td>
  <td>{{ employee.giro }}</td>
  <td>{{ employee.is_active|yesno:"Activo,Inactivo" }}</td>
  <td>{{ employee.id_profile }}</td>
  <td>
    <a class="confirm-delete" href="{% url 'sisventas:delete_employee' employee.rut %}" data-id="">
      <img src="{% static '/img/trash3.svg' %}" />
    </a>
  </td>
  <td>
    <a class="confirm-edit" href="{% url 'sisventas:edit_employee' employee.rut %}" data-id="">
      <img src="{% static '/img/pencil.svg' %}" />
    </a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="6">No hay Empleados</td>
</tr>
{% endfor %}
