{% extends 'base.html' %} {% load static %} {% block titulo %} Cambio de credenciales {% endblock %} {% csrf_token %} {% block navbar_jefe_ventas %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'sisventas:jefe_ventas' %}">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'sisventas:form_prod' %}">Inventario</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'sisventas:sales_jefe_ventas' %}">Ventas</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'sisventas:form_employee' %}">Empleados</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'sisventas:registro_empleados' %}">Registro de Empleados</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'sisventas:iva' %}">IVA</a>
</li>
{% load extras %} {% endblock %} {% block contenido %}
<div class="container py-4">
  <div class="mb-4 mt-3 rounded-4 shadow">
    <div class="container-fluid">
      <h6 class="fw-bold mb-3 fs-2 text-center mt-5">Actualización de Credenciales</h6>
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-8">
          <table class="table table-borderless mb-4">
            <thead>
              <tr>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Nombre de Usuario</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ user.rut }}</td>
                <td>{{ user }}</td>
                <td>{{ username.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-8">
          <form enctype="multipart/form-data" method="post" class="credentials">
            {% csrf_token %}
            <table class="table table-borderless">
              <tbody>
                {% for campo in form %}
                <tr>
                  <td>
                    <label class="form-label">{{ campo.label }}<span class="text-danger">*</span></label>
                  </td>
                  <td>{{ campo }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="row d-flex align-items-center justify-content-center mt-4 mb-4">
              <div class="col-sm-4">
                <button class="btn btn-success btn-lg update-credentials">Actualizar</button>
              </div>
              <div class="col-sm-4">
                <a class="btn btn-danger btn-lg" id="reset-credentials" onclick="resetPassword(event)" href="{% url 'sisventas:credentials' %}">
                  Limpiar
                </a>
              </div>
            </div>
          </form>
          {% if messages %}
          <div class="alert alert-danger">
            <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/confirmmiscelaneo.js' %}"></script>
  </div>
</div>

{% endblock %}
